<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MapleCandy.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>379AA44D44FAFBFE379DB15917CF05F84747A995</string>
				<key>dateExpires</key>
				<string>2020-04-25</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>FHR2VW5A3F.com.sdc.futureelectronics.MapleCandy</string>
				<key>com.apple.developer.team-identifier</key>
				<string>FHR2VW5A3F</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>FHR2VW5A3F.com.sdc.futureelectronics.MapleCandy</string>
				</array>
			</dict>
			<key>name</key>
			<string>MapleCandy.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>46ac5390-ccda-4f04-81f0-846b5c18acbc</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.sdc.futureelectronics.MapleCandy</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>FHR2VW5A3F</string>
				<key>name</key>
				<string>Future Electronics inc</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
